/node_modules
/application/public/hot
/application/public/storage
/application/storage/oauth-private.key
/application/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
